source https://nuget.org/api/v2

nuget Argu
nuget FSharp.Data
nuget FSharp.Formatting
nuget FsUnit
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake

github fsharp/FAKE modules/Octokit/Octokit.fsx