framework: net45
source https://nuget.org/api/v2

nuget Argu
nuget FSharp.Core
nuget FSharp.Data
nuget FSharp.Formatting
nuget FsUnit
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget SharpZipLib
nuget SourceLink.Fake
nuget FParsec

github fsharp/FAKE modules/Octokit/Octokit.fsx
