<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
    IMPORTANT NOTE: If you are compiling for F# 3.x with the F# 4.0 compiler
    (eg. if you are running from Visual Studio 2015), you might hit this
    runtime error:

      Method not found: 'Void Microsoft.FSharp.Core.CompilationMappingAttribute..ctor(System.String, System.Type[])'.

    This issue is caused by the following bug:
    https://github.com/Microsoft/visualfsharp/issues/644

    The only way to circumvent this issue is by switching the project to F# 4.0.
    Don't forget to also set the bindingRedirect below to newVersion="4.4.0.0".
  -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.3.1.0" newVersion="4.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <!-- NOTE: remove debug="true" to serve compressed JavaScript -->
    <compilation debug="true" targetFramework="4.0" />
    <!-- Uncomment the following to use WebSharper's HttpModule instead of Owin: -->
    <!--<httpModules>
      <add name="WebSharper.RemotingModule" type="WebSharper.Web.RpcModule, WebSharper.Web" />
      <add name="WebSharper.Sitelets" type="WebSharper.Sitelets.HttpModule, WebSharper.Sitelets" />
    </httpModules>-->
  </system.web>
  <system.webServer>
    <!-- Uncomment the following to use WebSharper's HttpModule instead of Owin: -->
    <!--<modules>
      <add name="WebSharper.RemotingModule" type="WebSharper.Web.RpcModule, WebSharper.Web" />
      <add name="WebSharper.Sitelets" type="WebSharper.Sitelets.HttpModule, WebSharper.Sitelets" />
    </modules>
    --><!-- This is only needed for VS Development WebServer (see above). IIS/IIS Express do not use this: --><!--
    <validation validateIntegratedModeConfiguration="false" />-->
  </system.webServer>
</configuration>
