<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="httpplatformhandler" />
            <add name="httpplatformhandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
        </handlers>
        <httpPlatform 
                  stdoutLogEnabled="false" stdoutLogFile="fake.log" startupTimeLimit="20" 
                  processPath="%HOME%\site\wwwroot\packages\FAKE\tools\FAKE.exe"
                  arguments="%HOME%\site\wwwroot\site\webserver.fsx port=%HTTP_PLATFORM_PORT%" >
            <environmentVariables>
            <!-- 
              <environmentVariable name="WhateverYouLike" value="GoesHere"/>
            --> 
            </environmentVariables>            
        </httpPlatform>
    </system.webServer>
</configuration>