<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="WebSharper" version="3.6.7.227" targetFramework="net45" />
    <package id="WebSharper.UI.Next" version="3.6.6.202" targetFramework="net45" />
    <package id="WebSharper.Suave" version="3.6.4.30" targetFramework="net45" />
</packages>
