<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsLab" version="0.2.7" targetFramework="net45" />
  <package id="FsLab.Runner" version="0.2.7" targetFramework="net45" />
  <package id="Suave" version="0.28.1" targetFramework="net45" />
  <package id="FAKE" version="3.34.7" targetFramework="net45" />
</packages>
